/bin
/obj
/Properties
/UploadedImage
/ApplicationInsights.xml
/LiveOdia.APi.csproj
/LiveOdia.APi.csproj
/packages.xml
/Web.xml
/Web.Debug.xml
/Web.Release.xml

ApplicationInsights.config
LiveOdia.csproj
LiveOdia.csproj.user
Web.Debug.config
Web.Release.config
Web.config
packages.config
packages